body{
    background-color: #1F2937;
}
hr{
    color: #2F3E53;
}
.main-title1{
    color: white;
}
.main-title2{
    color: #4ADF86;
}
p{
    color:#DDD6FE;
}
.create-btn{
    background-color: #4ADF86;
}